body{
    margin: 0 auto;
    background-color: #1D1D1F;
    color: #86868D;
    font-family: "Roboto", "Arial", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
 }
 header{
     background-color: black;
 }
 .logo{
     font-size: 20px;
     color: #1D1D1F;
     padding-left: 100px;
 }
 a{
     text-decoration: none;
     color: #1D1D1F;
     
 }
 .header__nav{
     padding-top: 17px;
     padding-right: 100px;
     font-weight: 700;    
         
 }



 footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.social-links{
    padding-top: 95px;
    padding-right: 10px;
    
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.catalog-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.header__1{
    display: flex;
    justify-content: center;
}

.nav_wrapper{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 23px;
    overflow: hidden;
}

.nav__btn{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: #86868D;
    min-width: 150px;
    font-size: 18px;
    font-weight: 700;
    border-right: 1px solid#000;
}

.nav__btn:hover{
    background: black;
    color: #86868D;
}

.nav__item:last-of-type .nav__btn{
    border-right: 0;
}

.catalog{
    background-color: #fff;
    border-radius: 25px;
    width: 1000px;
    height: 1600px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 450px;
}

.product__img{
    width: 200px;
    height: 200px;
}

.footer__btn{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: #0071E3;
    min-width: 25px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.catalog__item{
    
    width: calc(100% / 3);
    margin-bottom: 90px;
}

.product{
    text-align: center;
}

footer{
    margin-top: 90px;
}


@media(max-width: 992px){
    header{
        margin-right: 0px
    }

    .container{
        margin-right: 00px;
    }
    .container_header{
        margin-right: 00px;
    }
    .catalog{
        margin-left: 100px;
        width: 800px;
    }

    footer{
        margin-right: 0px;
    }
    .catalog__item{
    
        width: calc(100% / 3);
        margin-bottom: 90px;
    }
    }

@media(max-width: 768px){
    header{
        margin-right: -378px;
    }       
    .container{
        margin-right: -350px;
    }
    .container_header{
        margin-right: -350px;
    }
    .catalog{
        margin-left: 150px;
        width: 800px;
    }

    footer{
        margin-right: -378px;
    }
    .catalog__item{
    
        width: calc(100% / 3);
        margin-bottom: 90px;
    } 
    }

@media(max-width: 480px){
    header{
        margin-right: -450px;
    }       
    .container{
        margin-right: -450px;
    }
    .container_header{
        margin-left: 100px;
    }
    .catalog{
        margin-left: -20px;
        width: 800px;
    }

    footer{
        margin-right: -448px;
    }
    .catalog__item{
    
        width: calc(100% / 3);
        margin-bottom: 90px;
    } 
    }
